* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #272833;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-weight: 300;
    line-height: 1em;
}

header p {
    color: #ffffff;
    position: relative;
}

#page-wrapper {
    padding-top: 3.5em;
}

header a {
    -moz-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #e44c65;
    border-bottom-color: transparent;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    border: 0;
    font-size: 1.2rem;

}

#header {
    background: rgba(39, 40, 51, 0.965);
    box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
    cursor: default;
    height: 3.5em;
    left: 0;
    line-height: 3.5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    font-size: 20px
}


#header h1 {
    height: inherit;
    left: 1.25em;
    line-height: inherit;
    margin: 0;
    position: absolute;
    top: 0;
    font-size: 1em;
}


#header nav {
    position: absolute;
    right: 1em;
    top: 0;
}

@media (max-width:500px){
    #header nav{margin-top: 70px;}
    #header{height:7em}
    #banner-about{margin-top: 5.2em;}
    .contenido{margin-top:5em;}
    .pieces-title{margin-top: 2.6em;}
}

#header nav ul {
    margin: 0;
}

#header nav ul li {
    display: inline-block;
    margin: 0 0.4em;
    color: #ffffff;
}

#header nav ul li a, #header nav ul li span {
    border: 0;
    color: inherit;
    display: inline-block;
    height: inherit;
    line-height: inherit;
    outline: 0;
}


#header nav ul li:hover {
    color: #e44c65;
}

#header nav ul li > ul {
    display: none;
}

.slider-caption {
    color: #FFFFFF;
    font-style: italic;
    background-color: #46527f;
    width: 150px;
    margin: auto;
    font-size: 1em;
}
@media(max-width:700px){.slider-caption{display: none;}}

/* Banner */

#banner {
    background-attachment: fixed;
    background-color: #272833;
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
    min-height: 100vh;
    position: relative;
    text-align: center;
    z-index: 21;
    display: flex;
    justify-content: center;
    align-items: center;
}


#banner .content {
    display: inline-block;
    margin-right: 1%;
    max-width: 95%;
    position: relative;
    text-align: right;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#banner .content header {
    display: inline-block;
    vertical-align: middle;
}

#banner .content header h2 {
    font-size: 3.5em;
    margin: 0;
    color:#46527f;
    font-style: italic;
}

#banner .content header p {
    margin: 0.5em 0 0 0;
    top: 0;
    color:#7a7a7a;
    font-size: 1.1em;
}

#banner .content .image {
    border-radius: 100%;
    display: inline-block;
    margin-left: 3em;
    vertical-align: middle;
}

#banner .content .image img {
    border-radius: 100%;
    display: block;
    width: 18em;
    height: 18em;
}


/* Info */
.info-container {
    height: 100%;
    background-color: rgba(39, 40, 51, 0.965);
    border-bottom: #e44c65 solid 5px;
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.45);
    padding: 50px;
}

.info-title {
    width: 50%;
    border-bottom: solid 5px #e44c65;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1em 0;
}

.info-title h2 {
    font-size: 2em;
    text-align: center;
}

.info-title p {
    margin-top: 20px;
    font-size: 1.2em;
}

.info-container .info-box {
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: normal;
}

.info-box .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin: 30px 0;
}

.subtitle-past-exhibitions {
    text-align: center;
}

.info-box .row .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.column .col-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.info-box .icons {
    width: 50px;
    color: white;
    height: 50px;
    border: 2px solid #e44c65;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-box .icons i {
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-p h3 {
    font-size: 1.4em;
    padding: 0.5em;
    border-bottom: 1px solid gray;
}

.col-p p {
    font-size: 1em;
    color: gray;
    padding: 0.5em;
}
/* Footer */

footer .container {
    width: 100%;
    background-color: rgba(39, 40, 51, 0.965);
    color: #ffffff;
}

footer .container .row {
    width: 60%;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

footer .container .row a {
    text-decoration: none;
    color: gray;
}

footer .container .row a:hover {
    text-decoration: none;
    color: #e44c65;
}

footer .container .row li {
    list-style-type: none;
    margin-top: 1em;
}

footer .container .row h3 {
    font-weight: bold;
}

.icons {
    display: flex;
    width: 10vw;
    padding: 2em;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.icons i {
    height: 2vh;
    font-size: 2.5em;
    color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
}

.icons .fa-instagram:hover  {
    color: #cc2366; 
}

.icons .fa-tiktok:hover  {
    color: #282525; 
}

.copyright {
    margin: 20px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}

.contact {
    margin: 10px auto;
    justify-content: center;
    text-align: center;
    width: 100%;
    display: flex;
    font-size: 18px;
    color: #d76492; 
}


@media (max-width: 680px) {
    #banner .content {
        display: flex;
        flex-direction: column;
    }

    #banner .content .image {
        margin: 40px;
    }

    #header {
        display: flex;
        flex-direction: column;
        
    }

    .icons {
        width: 80%;
    }

    footer .container .row {
        width: 100%;
    }
}


/* Portfolio */ 

.contenido {
    width: 100%;
    height: 100%;
    
}

.main-title h2 {
    font-size: 3.5em;
    width: 100%;
    padding: 20px;
    justify-content: center;
    text-align: center;
    color:#ffffff;
}


.main-title h4 {
    font-size: 1.4em;
    padding: 50px;
    text-align: center; 
    font-style: italic;
    margin: auto;
    
}


.description{
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    justify-content: center;
    color: #9a9a9a;
}

.obras article{
    background-color: #6d1e3d;    
    margin: 10px 0px;
}

.obras article:hover{
    box-shadow: 10px 10px 15px -6px rgba(202, 77, 77, 0.75);
}

.obras article img{
    width: 100%;
    height: 31vw;
}

.obras {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
    border-bottom: #e44c65 5px solid;
}

div.obras article {
    width: 30%;        
}

@media(max-width:850px){
    div.obras article{width: 40%;}
    .obras article img{height: 45vw;}

    }

@media(max-width:650px){
    div.obras article{width: 70%;}
    .obras article img{height: 80vw;}
}


article div.main-article{
    width: 100%;
    border-top: 3px dashed #001233;;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:8%;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: relative;
}

.obras a {
    text-decoration: none;
    color: inherit
}

article .main-article {
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

article .title-p {
    padding: 0px;
    text-align: center;
    color:#ffffff;
    font-style: italic;
}

/* Specific portfolio */

.pieces-portfolio {
    margin-top: 80px;
    margin-left: 3%;
    color: #FFFFFF;
}

.pieces-title {
    font-size: 3.5em;
}

.pieces-subtitle {
    margin-top: 0.5%;
    font-size: 1.2em;
    font-style: italic;
}

.images-portfolio {
    margin-left: 8%;
    margin-top: 5%;
    margin-right: 8%;
}



@media (max-width: 960px) {
    .image-1 { width: 79%;
    margin-left: 10%;}
    .image-2 { width: 79%;
        margin-left: 10%;}
    .image-3 { width: 79%;}
}

.image-1 {
    min-width: 35%;
    margin-bottom: 40px;
    margin-right: 20%;
    border: solid black;
}

.image-2 {
    min-width: 35%;
    margin-bottom: 40px;
    border: solid black;
}

.image-3-div {
    display: grid;
    place-items: center;
    border-bottom: solid #e44c65 5px;
    padding-bottom: 40px;
}

.image-3 {
    min-width: 40%;
    border: solid black;
}

/* About Us */

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #be4156;
    width: 100%;
    margin-top: 15px;
    height: 50%;
    line-height: 30px;
}


.about-content h2 {
    font-size: 3.5em;
    padding: 30px;
}

.about-content p {
    font-size: 1.2em;
    padding: 30px;
    color: #ffffff;
    width: 60%;
}

#banner-about {
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
    text-align: center;
    z-index: 21;
}
.about-content .image {
    width: 100%;
    
}

.about-content .image img{
    width: 45%;
    border: solid black;
    min-width: 280px;
}

.info-about {
    width: 88%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 0 auto;
    border-bottom: #e44c65 5px solid;
}

.info-about .title{
    font-size: 3.5em;
    color: #ffffff;
}

.info-about .about-parragraph{
    font-size: 1.2em;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
}

.info-about .about-parragraph p{
    margin: 40px auto;
}

.info-about .images-about {
    display: flex;
    justify-content: center;
  flex-wrap: wrap;
}

.info-about .images-about img{
    width: 33.3%;
    box-sizing: border-box;
    border: solid black;
}

@media (max-width:800px) {
    .info-about .images-about img{width:80%;}
}