/* Global Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-size: 17px;
    text-align: justify;
    background-color: #5C7C89   ;
}

/* Header Styles */
header {
    background-color: #242424;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease-in-out;
}

header a:hover {
    color: #295f67;
}

/* Navigation Styles */
nav {
    text-align: center;
    background-color: #1F4959;
    padding: 15px 0;
    box-shadow: 0 0 15px #373737;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px 10px;
    background-color: #1F4959;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s ease-in-out;
    font-size: 20px;
}

nav a:hover {
    background-color: #426b7b;
}

@media (max-width: 592px) {
    nav a {
            font-size: 17px;
            display: inline-block;
          }
    nav {
        height: fit-content;
    }
    header h1 {
            font-size: 28px;
          }
}

/* Section/divs */
section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #5C7C89;
    color: #DDDDDD;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

}

#paragraph {
    margin-bottom: 8px;
}

#diplomas {
    margin-bottom: 30px;
}

@media(max-width:870px) {
    section {margin: 20px 10%}
}

h1 a{
    text-decoration: none;
    color: #DDDDDD
}

ul {
    list-style-type: circle;
}

footer p{
    color: #CCCCCC;
    font-size: 11px;
    text-align: center;
}

h2 {
    font-size: 40px;
    margin: 2px;
    font-weight: 400;
}

a {
    color: #0900be;
}

/* Footer */
#linkedin-link {
    display: block;
    margin: 10px auto;
    text-align: center;
}

#linkedin-logo {
    width: 32px;
    height: 32px;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

#linkedin-logo:hover {
    transform: scale(1.1);
}